.Posts { 
    padding: 25px 25px;
    width: calc(60% - 50px) !important;
    max-width: calc(60% - 50px);
}
.Posts h1 {
    color: #FFF
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 8px;
    width: 100%;
}

.Post {
    background-color: var(--third);
    padding: 12px;
    margin-bottom: 20px;
    color: #FFF;
    border-radius: 8px;
}
.post__header {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
}
.post__logo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.post__header__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
}
.post__header__content .post__title {
    width: 100%;
    display: flex;
}
.post__header__content .post__title span {
    margin-left: auto;
    opacity: 0.7;
    font-size: 12px;
}
.Post p {
    opacity: 0.6;
    font-size: 13px;
}

.post__images, .post__videos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.post__images::-webkit-scrollbar, .post__videos::-webkit-scrollbar {
    width: 0 !important
}
.post__audios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--secondary);
    border-radius: 8px;
}
.post__audio {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}
.post__audio__content {
    margin-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.post__audio__content label {
    font-weight: bold;
    overflow: hidden;
    width: 100%;
}
.post__audio__content caption {
    opacity: 0.7;
    color: #FFF;
    font-size: 12px;
}

.icon__music {
    width: 30px;
}
.post__image {
    height: 200px;
    object-fit: cover;
}
.post__video {
    width: '80%';
    height: 200px;
    object-fit: cover;
}
.loadmore__btn {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.loadmore__btn button {
    border: none;
    background-color: var(--third);
    width: 100%;
    color: #FFF;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}
.delete__btn {
    background-color: var(--primary);
    border: none;
    padding: 8px 30px;
    color: #FFF;
    font-size: 15px;
    margin-top: 8px;
    border-radius: 8px;
}
.add__button {
    border: none;
    width: 200px;
    font-size: 20px;
    background-color: var(--third);
    color: #FFF;
    height: 40px;
    margin-top: -8px;
    margin-bottom: 8px;
    border-radius: 8px;
    display: none;
}


@media (max-width: 1112px) {
    .posts {
        grid-template-columns: 1fr !important;
    }
}
@media (max-width: 760px) { 
    .posts, .Posts {
        width: 100% !important;
        max-width: 100%;
    }
    .add__button {
        display: inline;
    }
}



.logout__view {
    position: absolute;
    left: 40px;
    bottom: 40px;
    position: fixed;
    padding: 16px;
    padding-bottom: 12px;
    background-color: var(--third);
    border-radius: 22px;
}
.logout__view img {
    width: 20px;
    height: 20px;
}